<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1ef89123e5.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="css/estilos.css">

    <title>Bootstrap</title>
</head>
<body>

    <div class="container">
      <header>


        <!-- Comienzo Menú -->
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Arte Moderno</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#servicios">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#galeria">Galeria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                  </li>

                </ul>
              </div>
            </nav>


          </div>
        </div>
        <!-- Fin Menú -->

        <!-- Comienzo título -->
        <div class="row principal mt-3">
          <div class="col-12 text-center">
              <h1 class="pt-4">Conquistando el <span id="arte"> Arte</span></h1>
          </div>
        </div>
        <!-- Fin título -->
      </header>


      <!-- Comienzo Principal -->
      <main>

          <h2 id="servicios" class="pt-3 text-center mt-5" >Que ofrecemos?</h2>
          <!-- Oferta Servicios (Collapse + Jumbotron + Modal) -->
          <div class="row">
              <div class="col">
                <div id="accordion">
                  <div class="card bg-secondary mt-2">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0 text-center">
                        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                          <b> Piezas Originales </b>
                        </button>
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body text-white text-center">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card mt-2 bg-secondary">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <b> Arte Contemporáneo</b>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body text-white text-center">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card mt-2 bg-secondary">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <b> Exclusividad </b>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body text-white text-center">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>                  


              </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="jumbotron text-center">
                <h1 class="display-4">Atención!</h1>
                <p class="lead">No deje de consultarnos...</p>
                <hr class="my-4">
                <p>Su consulta puede ser la oportunidad para mejorar su Vida</p>
                <!-- <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p> -->

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Comentenos su Inquietud</button>
                

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Mensaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Correo Electónico</label>
                            <input type="email" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Comentario</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Enviar</button>
                      </div>
                    </div>
                  </div>
                </div>









              </div>                
            </div>

          </div>
          <!-- Fin Oferta Servicios (Collapse + Jumbotron + Modal) -->


          <!-- Galería -->
          <h2 id="galeria" class="pt-3 text-center mt-3" >Imagenes</h2>
          <div class="row">

            <!-- (.col-12.col-md-4.producto)*6 -->
            <div class="col-12 col-md-4 producto">
              <img src="https://picsum.photos/id/1020/600/400" alt="">
            </div>
            <div class="col-12 col-md-4 producto">
              <img src="https://picsum.photos/id/1021/600/400" alt="">
            </div>
            <div class="col-12 col-md-4 producto">
              <img src="https://picsum.photos/id/1006/600/400" alt="">
            </div>
            <div class="col-12 col-md-4 producto">
              <img src="https://picsum.photos/id/1010/600/400" alt="">
            </div>
            <div class="col-12 col-md-4 producto">
              <img src="https://picsum.photos/id/1015/600/400" alt="">
            </div>
            <div class="col-12 col-md-4 producto">
              <img src="https://picsum.photos/id/1018/600/400" alt="">
            </div>
          </div>
          <!-- Fin Galería -->



          <!-- Contacto -->
          <span id="contacto" > </span>
          <div class="row contacto fondoContacto justify-content-center mt-3">
            <!-- .row.contacto.fondoContacto>.col-12.col-md-6.col-lg-4 -->
              <div class="col-12 col-md-6 col-lg-5">
                <h2 class="text-center text-light">        Contacto
                </h2>

                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1" class="labelFormulario">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Coloque su nombre aquí">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput2" class="labelFormulario">Ocupación</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Coloque su ocupación aquí">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput3" class="labelFormulario">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Coloque su correo electrónico aquí">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput4" class="labelFormulario">Teléfono</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput4" placeholder="Coloque su teléfono aquí">
                  </div>

                  <button type="submit" class="btn btn-secondary form-control mt-5" >Enviar</button>

                </form>                




            </div>




        </div>
      <!-- Fin Principal -->



        
      </main>

      <footer>
          <div class="row mt-3">
            <div class="col-12 col-md-3 d-flex justify-content-around align-items-center fondoIconos  p-2">
              <h4><a href=""> <i class="fab fa-facebook icono"></i></a></h4>
              <h4> <i class="fab fa-instagram icono"></i></h4>

            </div>
            <div class="col-12 col-md-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.506487087058!2d-58.42118008519567!3d-34.59135196435006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7e4935ebd7%3A0x484bf7f887f5b8f8!2sAv.%20Medrano%201513%2C%20C1179ABC%20CABA!5e0!3m2!1ses!2sar!4v1602081268986!5m2!1ses!2sar" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-12 col-md-3 fondoIconos  d-flex justify-content-around align-items-center">
              <h4> <i class="fas fa-phone-square-alt icono"></i><br> 4234-3546 </h4>
            </div>
          </div>

      </footer>


    </div>


    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>